* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/recipeBookBackground.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    
}

#mainContainer {
   /* border: 1px solid black; */
   height: 650px;
   width: 80%;
   margin-top: 10%;
   margin-left: 10%;
   text-align: center;
   overflow: scroll;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: notePad;
}

.form-group {
    display: flex;
    justify-content: center;
}

#insideContainer {
    /* border: 1px solid black; */
    width: 90%;
    float: right;
}

#input-ingredient {
    width: 40%;
    margin-right: none;
    text-align: center;
    font-size: 2em;
    
}

#enterIng {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#addItem {
    width: 10%;
    color: white;
    background-color: #3e5a07;
    font-weight: bold;
    border: none;
    /* font-size: 1.5em; */
    border-radius: 5px;
    margin-left: 5px;
}

#addItem:hover {
    background-color: #71af22;
}

#resetButton {
    width: 10%;
    color: white;
    background-color: #3e5a07;
    border: none;
    font-weight: bold;
    /* font-size: 1.5em; */
    border-radius: 5px;
    /* margin-top: 1%; */
    margin-right: 5px;
}

#resetButton:hover {
    background-color: #71af22;
}


#recipeSearch {
    width: 30%;
    color: white;
    background-color: #3e5a07;;
    border: none;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
}

#recipeSearch:hover {
    background-color: #71af22;
}

#ingredientsList {
    height: 200px;
    width: 80%;
    margin: auto;
    padding: 5%;
    color: white;
    font-size: 2em;
}

.eachResult {
    display: flex;
    text-align: initial;
    margin: 3%;
    padding: 1%;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    overflow: hidden;
}

.recipeImage {
    width: 40%;
    height: 30%;
    border: 2px solid white;
}

.mealTitle {
    margin-top: -8px;
    margin-left: 2%;
    font-size: 0.7em;
    font-weight: bold;
}

.ingredients {
    color: black;
    font-size: 3em;
    font-weight: bold;
    font-family: notePad;
}

.viewRecipe {
    margin-top: auto;
    margin-left: auto;
    width: 78px;
    display: inline-block;
    font-size: 0.8em;
    color: black;
    background-color: white;
    font-weight: bold;
}


.addFavorite {
    margin-top: auto;
    /* margin-left: auto; */
    width: 78px;
    height: 55px;
    display: inline-block;
    font-size: 0.8em;
    color: black;
    background-color: white;
    font-weight: bold;
}


/* ========================== FONTS ============================ */


@font-face {
    font-family: notePad;
    src: url(../fonts/Quentin.ttf);
}

@font-face {
    font-family: scribble;
    src: url(../fonts/BookletCordel.ttf);
}







/* =============== MODAL ================ PLEASE DO NOT TOUCH */
/* Modal Content/Box */
.modal-content {
    border-radius: 10px;
    color: black;
    padding: 20px;
    border: 1px solid #888;
    height: 90%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#recipeHolder {
    flex: none;
    padding: 1%;
    height: 650px;
}

#modalTitle {
    height: 50px;
    font-size: 2em;
    margin-bottom: 5%;
}

#modalImage {
    width: 40%;
    border-radius: 10px;
}

#recipeDetails {
    height: 260px;
    width: 60%;
    float: right;
    /* margin-right: 5%; */
}

#infoList {
    margin-top: 2%;
}

#recipeInstructions {
    height: 50%;
    margin-top: 3%;
}


#youTubeVids {
    border: 1px solid black;
    flex: none;
    text-align: center;
}
