* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/recipeBookBackground.jpg);
    background-size: cover;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#mainContainer {
   /* border: 1px solid black; */
   height: 750px;
   width: 55%;
   margin: auto;
   text-align: center;
   overflow: scroll;
   padding-top: 1%;
  
}

h1 {
    font-weight: bolder;
    font-family: notePad;
    font-size: 5em;
    margin-right: 7%;
}

.form-group {
    display: flex;
    justify-content: center;
}

#insideContainer {
    /* border: 1px solid black; */
    width: 90%;
    float: right;
}

#input-ingredient {
    width: 45%;
    margin-right: none;
    text-align: center;
    font-size: 2em;
    
}

#enterIng {
    font-weight: bold;
    font-size: 2em;
    color: white;
}


#viewFavorites {
    width: 12%;
    color: white;
    background-color: #3e5a07;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin: auto;
}

#viewFavorites:hover {
    background-color: #71af22;
}


#addItem {
    width: 12%;
    color: white;
    background-color: #3e5a07;
    font-weight: bold;
    border: none;
    /* font-size: 1.5em; */
    border-radius: 5px;
    margin-left: 5px;
}

#addItem:hover {
    background-color: #71af22;
}

#resetButton {
    width: 12%;
    color: white;
    background-color: #3e5a07;
    border: none;
    font-weight: bold;
    /* font-size: 1.5em; */
    border-radius: 5px;
    /* margin-top: 1%; */
    margin-right: 5px;
    margin-left: 5px;
}

#resetButton:hover {
    background-color: #71af22;
}


#recipeSearch {
    width: 30%;
    color: white;
    background-color: #3e5a07;;
    border: none;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
}

#recipeSearch:hover {
    background-color: #71af22;
}

#ingredientsList {
    height: 200px;
    width: 80%;
    margin: auto;
    padding: 5%;
    color: white;
    font-size: 2em;
}

.eachResult {
    text-align: initial;
    /* margin: 3%; */
    margin-bottom: 4%;
    padding: 1%;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    overflow: hidden;
    width: 400px;
}

.recipeImage {
    float: left;
    width: 50%;
    height: 30%;
    border: 2px solid white;
    margin-right: 2%;
}

.mealTitle {
    font-size: 0.9em;
    font-weight: bold;
}

.ingredients {
    color: black;
    font-size: 3em;
    font-weight: bold;
    font-family: notePad;
}

.viewRecipe {
    font-size: 0.8em;
    color: black;
    background-color:#3e5a07;
    color: white;
    font-weight: bold;
    width: 100%;
}

.viewRecipe:hover {
    background-color: #71af22;
}

.addFavorite {
    font-size: 0.8em;
    color: black;
    background-color: white;
    font-weight: bold;
    /* margin-top: 32%; */
    background-color:#3e5a07;;
    color: white;
}

.addFavorite:hover {
    background-color: #71af22;
}


/* ========================== FONTS ============================ */


@font-face {
    font-family: notePad;
    src: url(../fonts/Quentin.ttf);
}

@font-face {
    font-family: scribble;
    src: url(../fonts/BookletCordel.ttf);
}







/* =============== MODAL ================ PLEASE DO NOT TOUCH */
/* Modal Content/Box */
.modal-content {
    background-image: url(../images/openBook.jpg);
    background-size: cover;
    border-radius: 10px;
    color: black;
    padding: 20px;
    border: 1px solid #888;
    height: 90%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#recipeHolder {
    flex: none;
    padding-left: 3%;
    height: 650px;
    overflow: scroll;
}

#modalTitle {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5%;
    padding-top: 2%;
    font-family: notePad;
}

#modalImage {
    border: 2px solid #3e5a07;
    width: 40%;
    border-radius: 10px;
}

#recipeDetails {
    height: 260px;
    width: 60%;
    float: right;
    font-size: 2em;
    /* margin-right: 5%; */
}

#infoList {
    margin-top: 2%;
    font-size: 1em;
}

#recipeInstructions {
    margin-top: 3%;
    font-size: 1.5em;
}

#youTubeVids {
    line-height: 10;
    text-align: center;
    overflow: scroll;
}
